.column {
    font-family: 'Montserrat';
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: fit-content;
    width: 250px;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    margin: 10px;
    color: rgb(0, 0, 0);
}

.head-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.del-col-btn {
    background-color: white;
    border: none;
    outline: none;
    overflow: hidden;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.116);
}

.del-col-btn:hover {
    background-color: rgb(103, 146, 170);
    color: white;
    overflow: hidden;
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.24), 0 3px 8px 0 rgba(0,0,0,0.19);
}

.add-task-input{
    font-weight: 600;
    margin-top: 5px;
    padding-left: 5px;
    background-color:  rgb(243, 243, 243);
    border: none;
    overflow: hidden;
    outline: none;
}
.add-task-input:focus{
    border-bottom: 1px solid rgb(110, 110, 110);
    overflow: hidden;
    outline: none;
}
